# Template pour les variables Terraform
# Ce fichier est utilisé par le workflow GitHub Actions

project_name     = "portfolio-faycal"
site_bucket_name = "portfolio-faycal-site-bucket-cv"
region           = "eu-west-3"
price_class      = "PriceClass_100"

# Domaine personnalisé (DNS, ACM, alias CloudFront)
domain_name = "cv.wedreamteam.com"
zone_name   = "wedreamteam.com"

default_tags = {
  ManagedBy   = "Terraform"
  Project     = "portfolio-faycal"
  Environment = "production"
}
