# Configuration Terraform — copie vers terraform.tfvars

project_name     = "portfolio-faycal"
site_bucket_name = "portfolio-faycal-site-bucket-cv"
region           = "eu-west-3"
price_class      = "PriceClass_100"

# Domaine personnalisé (optionnel)
# domain_name    = "cv.example.com"
# hosted_zone_id = "Z1234567890ABCDEF"

default_tags = {
  ManagedBy   = "Terraform"
  Project     = "portfolio-faycal"
  Environment = "production"
}
